body {
   
    height: 100vh;
    margin: 0 auto;
}

header {
    align-items: end;
    display: flex;
    justify-content: end;
  background-color: black;
    padding: 10px;
    
  
    
  }
  
  .navbar {
    display: flex;
    justify-content: center;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #ffff;
    padding: 5px;
  }
  
  .navbar li a:hover {
    color: #000;
    background-color: #ddd;
  }
  
#home img {
   
    width: 100%;
    height: auto;

}

#home .logo img {
    position: absolute;
 
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  z-index: 1;
}

#cardapio {
    margin-top: 240px;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
   
   
}

.pratos {
   
   
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 100px;
}

.pratos .calabresa .foto-calabresa  {
    width: auto;
    
}

#cardapio .seta img{
  width: 100px;
  cursor: pointer;
}
#cardapio .seta {
  position: fixed;
  
   
  
  
    top:  800px;
    z-index: 1;
  
 
  
  
}

.pratos .calabresa img {
    border-radius: 8px;
}



.pratos .calabresa {
   justify-content: center;
   align-items: center;
    display: inline-flex;
   
    
    gap: 4px;
   
  
   
    
}



.pratos .queijo .foto-queijo img {
    width: 300px;
    border-radius: 8px;
    
    
}


.pratos .queijo  {
    justify-content: center;
    align-items: center;
     display: inline-flex;
    
  
     gap: 4px;
     
     
 }

